
.main{
    margin: 0 auto;
    padding: 50px 60px;
    box-sizing: border-box;
}
.products{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
.product-item{
    box-sizing: border-box;
    margin: 25px;
    padding: 20px;
    min-width: 600px;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid darkseagreen;
}
.product-item-header{
    width: 100%;
    text-align: center;
}


.product-item-photo{
    width: 250px;
    height: 150px;
    box-sizing: border-box;
}
.product-item-price{
    width: 100%;
    text-align: center;
    font-size: initial;
    font-weight: 600;
}
.buy-btn{
    width: 150px;
    border-radius: 6px;
    border: 1px solid;
}